@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(243 243 243);
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
  /* font-size: 22px; */
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;  
}

.color-theme {
  color :#EB3431;
}

.text-daftar {
    font-family: 'Fredoka One', cursive;
}

.font-ballo2 {
    font-family: 'Baloo 2', cursive;
}

.text-bold {
    font-weight: bolder;
}

.color-primary {
    color: #0455a4;
}

.text-danger {
    color: red !important;
}

.produk-name {
    font-size: 37px;
}

.harga-normal del, .harga-normal{
    font-size: 15px !important;
}

.link-white {
    color: white;
    text-decoration: none;
}

button#submit,
button#rumah_pilih {
    /*background-color: #ed1b24;*/
    background-color: rgb(25, 189, 239);
    border-color: rgb(25, 189, 239);
    color: white;
    padding: 8px 4em;
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn_daftar, .btn_sk {
    padding: 7px 10px;
    width: 200px;
    /*font-weight: bold;*/
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Fredoka One', cursive;
}

/* Placeholder */
::-webkit-input-placeholder {
    /* Edge */
    color: #d0cece !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #d0cece !important;
}

::placeholder {
    color: #d0cece !important;
}

.abu-abu {
    color: #d0cece !important;
}

/*Reseting Card*/
.card {
    margin: 5px;
    padding-right: 0 !important;
}
.card-body{
    padding-right: 0 !important;
    padding-bottom: 20px !important;
}

.card-body-original{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

@media only screen and (max-width: 470px) {
    .btn_daftar, .btn_sk {
        width: 100%;
        margin-bottom: 5px;
        display: inline-block;
        word-spacing: 1px;
        letter-spacing: 1px;
    }

    .sisa_kuota {
        text-align: center;
    }
}

/* Count Down */
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
#clockdiv > div{
  /*padding: 5px 1px 1px 1px;*/
  padding-top: 11px;
  background: rgb(238 147 11);
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: .7em;
}
#clockdiv div > h2{
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial, sans-serif;
  display: inline-block;
}

#clockdiv div > div {
font-size: 20px;
margin: 0;
padding: 0;
font-weight: bold;
font-family: arial, sans-serif;
}

@media only screen and (max-width: 560px) {
  #clockdiv{
      font-weight: 80;
      font-size: 25px;
  }
  #clockdiv > div{
      padding-top: 6px;
      width: 90px;
      height: 90px;
      margin-bottom: 5px;
  }
  #clockdiv div > h2{
      font-size: 45px;
  }

  #clockdiv div > div {
    font-size: 15px;
  }

  .select-lokasi-klinik option{
    font-size: .7rem !important;
  }
}

.modal_syarat_ketentuan .modal-body{
  font-size: .7em !important;
}


/*<div class="ribbon  ribbon--green">32% DESC</div>*/
.ribbon {
  line-height: 1.2em;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  /*font-weight: bold;*/
  /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);*/
  letter-spacing: -2px;
  display: block;
  width: 3rem;
  height: 2rem;
  background: linear-gradient(to bottom, #999999 0%, #CCCCCC 100%);
  color: white;
  /*margin: 1em .5em 0;*/
  float: left;
  padding-top: .4rem;
  position: absolute;
  top: 0;
  right: 1.4em;
  /*-webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));*/
  transform: translate3d(0, 0, 0); 
}
.ribbon:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  border-top: .5rem solid #CCCCCC;
  position: absolute;
  top: 2rem;
  left: 0; 
  z-index: -999
}
.ribbon.ribbon--red {
  /*background: linear-gradient(to bottom, #D3362D 0%, #E57368 100%); */
  background: linear-gradient(to bottom, #ff0e00 0%, #ff0000 100%);
}
.ribbon.ribbon--red:after {
  /*border-top: 1.5rem solid #E57368; */
  border-top: 1.5rem solid #ff1600;
}
.ribbon.ribbon--orange {
  background: linear-gradient(to bottom, #E7711B 0%, #F7981D 100%); 
}
.ribbon.ribbon--orange:after {
  border-top: 1.5rem solid #F7981D; 
}
.ribbon.ribbon--yellow {
  background: linear-gradient(to bottom, #F1CA3A 0%, #F6EB3B 100%); 
}
.ribbon.ribbon--yellow:after {
  border-top: 1.5rem solid #F6EB3B; 
}
.ribbon.ribbon--green {
  background: linear-gradient(to bottom, #5f9654 0%, #65b045 100%); 
}
.ribbon.ribbon--green:after {
  border-top: 1.5rem solid #65B045; 
}
.ribbon.ribbon--blue {
  background: linear-gradient(to bottom, #1C91C0 0%, #11A9CC 100%); 
}
.ribbon.ribbon--blue:after {
  border-top: 1.5rem solid #11A9CC; 
}
.ribbon.ribbon--purple {
  background: linear-gradient(to bottom, #5C3292 0%, #7E3794 100%); 
}
.ribbon.ribbon--purple:after {
  border-top: 1.5rem solid #7E3794; 
}


.jam-mulai-flashsale {
  font-size: 20px;
  font-weight: 500;
}

.jam-mulai-flashsale-deskripsi {
  font-size: 15px;
}

.shadow-light{
  box-shadow: 0px 0px 6px 6px rgba(241,245,249,1);
  -webkit-box-shadow: 0px 0px 6px 6px rgba(241,245,249,1);
  -moz-box-shadow: 0px 0px 6px 6px rgba(241,245,249,1);
}

.card-checkbox, .card-radio{
    cursor: pointer;
    border: 4px solid transparent;
    outline: 0;
    width: 100%;
    border-radius: .5em;
}

.card-checkbox input[type="checkbox"], .card-checkbox input[type="radio"]{
  display: none;
}

.card-checkbox .card, .card-radio .card{
    margin: 0 !important;
}

.card-checkbox .card-body-original, 
.card-radio .card-body-original,
.card-checkbox .card-body,
.card-radio .card-body {
    padding: .4rem 1rem;
}

.card-checkbox-checked .card, .card-radio-checked .card{
  border-color: red;
}


/* RESETING CSS / CUSTOM CSS FOR BOOTSRAP */
.rounded-5{
  border-radius: 0.5em !important;
}
.rounded-11px {
  border-radius: 11px !important;
}

.input-group.input-group-custom .input-group-text {
  border-right: none;
  background-color: white;
  border-radius: 11px 0 0 11px !important;
}
.input-group.input-group-custom .form-control {
  border-left: none;
  background-color: white;
  border-radius: 0 11px 11px 0 !important;
}

.radio-pilihan-donasi{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: .375rem .75rem;
  background: #F8FBFE;
  border-radius: 4px;
}
.radio-pilihan-donasi .my-form-custom {
  border: none;
  background-color: transparent;
  width:100%;
}

.my-form-custom:focus{
  border: none;
  border-bottom: 1px black solid;
  /*background-color: #F8FBFE;*/
  outline: none
}

.background-form-selected {
  background: #d7ebff;
}

.container-harapan-donatur {
  padding: 8px 16px;
  /*background: #F8FBFE;*/
  background-color: #d7ebff !important;
  border-radius: 4px;
}

.nama-harapan-donatur {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #0455A4;
  margin: 0 8px 0 0;
}

.waktu-harapan-donatur {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #828282;
  margin: 2px 8px 2px 0;
}

.pesan-doa-harapan-donatur {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #092948;
  margin: 4px 0px;
}


/* Floating BUTTON */
/* rb :: Right Bottom || lb :: Left Bottom */
.floating-btn-rb,
.floating-btn-lb,
a.floating-btn-rb, 
a.floating-btn-lb{ 
  position:fixed;
  text-decoration: none;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.floating-btn-lb,
a.floating-btn-lb{
  left:40px;
  background-color: #212567;
}

.animasi-floating-btn {
  -webkit-animation: loop_right_left 1s infinite ease-in-out;
  animation: loop_right_left 1s infinite ease-in-out;
}

.floating-btn-rb 
.icon-floating, 
.floating-btn-lb 
.icon-floating,
a.floating-btn-rb 
a.icon-floating, 
a.floating-btn-lb 
a.icon-floating {
  margin-top:16px;
}

@-webkit-keyframes loop_right_left {
    50% { right:50px; }
    100% { right:40px; }
}
@keyframes loop_right_left {
    50% { right:50px; }
    100% { right:40px; }
}


/* Replace BS */

.form-check-input:checked {
  background-color: #eb3223 !important;
  border-color: #eb3223 !important;
}

.form-check-input:focus {
  outline-color: #e7baba !important;
  border-color: #e7baba !important;
  box-shadow: 0 0 0 0.25rem rgb(252 222 222);
}

.input-group-text.checked,
input.form-control.checked,
span.input-group-text.checked {
  background-color: #fcdede !important;
  border-color: #e7baba !important;
}

button#submit {
  background-color: #eb3223;
  border-color: #eb3223;
}

button.submit {
  background-color: #eb3223;
  border-color: #eb3223;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

button.btn-outline-custom {
  color: #eb3223;
  border-color: #eb3223;
  background-color: white;
  font-weight: bold;
}

button.btn-outline-custom:hover {
  background-color: #eb3223;
}

textarea.form-control:focus,
select.form-select:focus,
input.form-control[type="text"]:focus,
input.form-control[type="password"]:focus,
input.form-control[type="date"]:focus,
input.form-control[type="month"]:focus,
input.form-control[type="number"]:focus,
input.form-control[type="email"]:focus,
input.form-control[type="tel"]:focus {
  color: #212529;
  background-color: #fff;
  border-color: #e7baba !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(252 222 222);
}

.cursor-pointer {
  cursor: pointer;
}

.form-control#custom_nominal:disabled,
.form-control#custom_nominal[readonly],
.form-control#custom_nominal {
  background-color: transparent !important;
  box-shadow: none;
}

@media only screen and (max-width: 580px) {
  button#submit {
    padding: 6px 2em;
  }
}

.form-control, .form-select {
  border-radius: 14px;
    /* box-shadow: brown 1px 1px 2px; */
    box-shadow: 0px 3px 5px 0px #0000001a
}