@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");

.ff-poppins {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.fw-l {
  font-weight: lighter;
}

.fw-n {
  font-weight: normal;
}

.fw-b {
  font-weight: bold;
}

.box-shadow-none {
  box-shadow: none;
}

/* .box-shadow-none:active {
  box-shadow: none;
} */

.box-shadow-none:not(:disabled):not(.disabled):active,
.box-shadow-none:not(:disabled):not(.disabled).active,
.box-shadow-none:not(:disabled):not(.disabled):active:focus,
.box-shadow-none:not(:disabled):not(.disabled).active:focus,
.btn:focus,
.btn.focus {
  box-shadow: none;
}

.modal-dialog {
  margin-right: auto;
  margin-left: auto;
}
